* { 
    margin: 0; 
    padding: 0; 
    border: 0; 
}

body {
    margin: 0;
    font-family: "Proxima_regular", "Arial", sans-serif;
}

p {
    margin: 0;
}

header {
    padding-top: 3px;
}

:root {
    --main-color: black;
}

button {
    cursor: pointer;
}

.container_header {
    display: flex;
    width: 1650px;
    max-width: 100%;
    margin: 0 auto;
    height: 100px;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px black solid;
}

.container_main {
    width: 1650px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 15px;
}

.menu_ul {
    margin-top: 45px;
    width: 500px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu_element {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    letter-spacing: 0.06em;
    color: var(--main-color);
    text-decoration: none;
}

#form_to_search {
    margin-top: 35px;
    display: flex;
    width: 251px;
    height: 33px;
}

.logo {
    margin-top: 9px;
    width: 225px;
    height: 90px;
    margin-left: 50px;
}

.search_logo {
    height: 33px;
    border-bottom: 1px black solid;
}

.search_box {
    width: 200px;
    height: 33px;
    padding-left: 10px;
    border-bottom: 1px black solid;
    outline:none;
    font-family: "Proxima_regular", "Arial", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: black;
}

.search_btn {
    width: 32px;
    height: 32px;
    background: none;
    cursor: pointer;
}

.search_icon {
    background: url(../images/search_icon.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    margin: auto;
}

.search_box::placeholder {
    font-family: "Proxima_regular", "Arial", sans-serif;
}

.account_icons {
    width: 140px;
    height: 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.icon {
    width: 30px;
    height: 30px;
}

.icon_btn {
    width: 32px;
    height: 32px;
    cursor: pointer;
    background: none;
}

.heart {
    background: url(../images/nav_icons/heart.svg) no-repeat center center;
}

.man {
    background: url(../images/nav_icons/man.svg) no-repeat center center;
}

.cart {
    background: url(../images/nav_icons/cart.svg) no-repeat center center;
}

.main_banner {
    padding-top: 100px;
    margin-bottom: 280px;
}

.main_name {
    display: flex;
    margin-top: 70px;
    margin-left: 140px;
}

.main_art {
    margin-left: 10px;
}

.welcome {
    font-family: 'Proxima_semibold';
    font-size: 36px;
    color: var(--main-color);
}

.art_gallery {
    font-family: 'Proxima_black';
    font-size: 144px;
    line-height: 144px;
    text-transform: uppercase;
    color: var(--main-color);
}

.buying {
    display: flex;
    justify-content: right;
}

.btn_to_buy {
    width: 200px;
    height: 56px;
    border: 2px solid #000000;
    background: none;
    font-family: 'Proxima_semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-color);
    cursor: pointer;
}

.btn_to_buy:hover {
    background: black;
    color: white;
    transition: .7s;
}

.product1_mountains {
    position: static;
    width: 332px;
    height: 510px;
    background: url(../images/main_section/Product1_mountains.png) no-repeat center center;
    margin-top: -147px;
    margin-left: 138px;
}

.product2 {
    position: static;
    width: 340px;
    height: 192px;
    background: url(../images/main_section/Product2.png) no-repeat center center;
    margin-top: -767px;
    margin-left: 638px;
}

.product3 {
    position: static;
    width: 288px;
    height: 158px;
    margin-top: 230px;
    margin-left: 683px;
    background: url(../images/main_section/Product3.png) no-repeat center center;
}

.product4_house {
    position: static;
    width: 332px;
    height: 510px;
    margin-top: -580px;
    margin-left: 1150px;
    background: url(../images/main_section/Product4_house.png) no-repeat center center;
}

.txt_header {
    margin-top: 30px;
    padding-right: 10px;
    text-align: right;
}

.art_down {
    display: flex;
    margin-top: -25px;
    justify-content: flex-end;
    padding-right: 155px;
}

.art {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-text-stroke:1px black;
    -webkit-text-fill-color:transparent;
    
}

.about-us {
    padding-bottom: 100px;
}

.about-us-head {
    display: flex;
    margin-left: 180px;
}

.about-us-txt1 {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-text-stroke:1px var(--main-color);
    -webkit-text-fill-color:transparent;
}

.about-us-txt2 {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-left: 10px;
}

.on {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    -webkit-text-stroke:1px var(--main-color);
    -webkit-text-fill-color:transparent;
    margin-right: 15px;
}

.stup_art {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--main-color);
}

.line_under_txt {
    background-color: var(--main-color);
    height: 1px;
    margin-bottom: 30px;
    width: 405px;
    margin-left: auto;
    margin-right: 0;
}

.line_under_txt_about {
    background-color: var(--main-color);
    height: 1px;
    margin-bottom: 30px;
    width: 430px;
}

.themes-button {
    margin-top: 70px;
}

.themes {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 326px;
}

.card_content {
    width: 326px;
    height: 286px;
    border: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_name_box {
    width: 195px;
    margin: 0 auto;
}

.card_nametxt {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.3em;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-color);
    padding-top: 10px;
    padding-bottom: 8px;
}

.un {
    border-bottom: 1px solid black;
}

.more {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn_more {
    width: 200px;
    height: 56px;
    border: 2px solid #000000;
    background: none;
    font-family: 'Proxima_semibold';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: var(--main-color);
    cursor: pointer;
}

.btn_more:hover {
    background: black;
    color: white;
    transition: .7s;
}

.about-us {
    margin-top: 150px;
}

.about-us-content {
    display: flex;
}

.about-us-txt-but {
    margin-left: 180px;
    margin-top: 20px;
}

.about-us-txt-div {
    width: 370px;
}

.about-us-txt {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #282825;
}

.about-us-but {
    margin-top: 50px;
    width: 100px;
    height: 55px;
}

.arrow-but {
    width: 100px;
    height: 55px;
    border: 2px solid var(--main-color);
    background: none;
    cursor: pointer;
}

.arrow-but:hover {
    background: black;
    color: white;
    transition: .7s;
}

.about-us-short-info {
    margin-top: 83px;
    margin-left: 80px;
}

.short-info-up-row {
    display: flex;
}

.short-info-down-row {
    display: flex;
    margin-top: 85px;
}

.num-head-div {
    display: flex;
}

.num-head {
    font-family: 'Proxima_black';
    font-size: 64px;
    line-height: 46px;
    text-transform: uppercase;
    color: var(--main-color);
}

.num-lowercase {
    font-family: 'Proxima_black';
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--main-color);
    display: flex;
    align-items: flex-end;
    margin-left: 5px;
}

.description-info {
    margin-top: 20px;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-color);
}

.years {
    margin-left: 125px;
}

.bought {
    margin-left: 215px;
}

.about-us-images {
    width: 531px;
    height: 676px;
    background: url(../images/about_us/Backgr.png) no-repeat center center;
    margin-top: -70px;
    margin-left: 200px;
}

.choosing-cost {
    padding-top: 90px;
    padding-bottom: 100px;
}

.choosing-head {
    text-align: right;
    margin-right: 50px;
}

.choosing-down {
    display: flex;
    margin-top: -25px;
    justify-content: flex-end;
}

.choose-txt {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-right: 90px;
}

.po {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    -webkit-text-stroke:1px var(--main-color);
    -webkit-text-fill-color:transparent;
}

.cost-txt {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-left: 15px;
}

.cost-content {
    display: flex;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.cost-content-left-column {
    display: flex;
    flex-direction: column;
}

.cost-content-right-column {
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}

.cost-content-card {
    width: 332px;
    height: 510px;
    display: flex;
    flex-direction: column;
}

.card-cost-txt1 {
    font-family: 'Proxima_extrabold';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.cost-div {
    margin: 0 auto;
    margin-top: 205px;
}

.card-cost-txt {
    font-family: 'Proxima_extrabold';
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 5px;
}

.price {
    font-family: 'Proxima_extrabold';
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.under-30000 {
    background: url(../images/costs/under-30000.png) no-repeat center center;
}

.under-60000 {
    background: url(../images/costs/under-60000.png) no-repeat center center;
}

.under-120000 {
    margin-top: 150px;
    background: url(../images/costs/under-120000.png) no-repeat center center;
}

.under-240000 {
    margin-top: 150px;
    background: url(../images/costs/under-240000.png) no-repeat center center;
}

.btn-next {
    margin-left: auto;
    margin-right: 0;
    width: 100px;
    height: 60px;
    margin-top: 45px;
}

.next {
    width: 100px;
    height: 60px;
    background: none;
    border: 2px solid white;
}

.uni {
    margin-top: 71px;
}

.unique {
    background: #ff4823cb ;
    border: none;
}

.who-we-content {
    display: flex;
}

.who-we-are {
    padding-top: 100px;
}

.who-we-description {
    font-size: 18px;
    line-height: 26px;
    color: #282825;
}


.h1 {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    -webkit-text-stroke:1px var(--main-color);
    -webkit-text-fill-color:transparent;
}

.p1 {
    font-family: 'Proxima_black';
    font-style: normal;
    font-size: 64px;
    text-transform: uppercase;
    color: var(--main-color);
    margin-top: -25px;
    margin-left: 40px;
}

.who-we-txt {
    width: 400px;
    margin-top: 42px;
}

.who-we-card {
    border-left: 2px solid var(--main-color);
    padding-left: 50px;
    height: 390px;
}

.who {
    margin-left: 268px;
}

.what {
    margin-left: 302px;
    margin-top: 200px;
    height: 370px;
}

.who-we-content-down {
    display: flex;
}

.how {
    margin-top: 80px;
    margin-left: 300px;
    height: 370px;
}

.who-we-are {
    background: url(../images/logo_bckgrn.png) no-repeat center right;
}